{
   "printWidth": 120,
   "tabWidth": 3,
   "semi": true,
   "singleQuote": true,
   "trailingComma": "all",
   "arrowParens": "always",
   "bracketSpacing": true,
   "bracketSameLine": true,
   "jsxBracketSameLine": true,
   "useTabs": true,
   "overrides": [
      {
         "files": [".ts", ".tsx"]
      }
   ]
}
